ENV=development
FRONTEND_BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://...?pgbouncer=true
REDIS_URL=redis://localhost:6379
SUPABASE_URL=https://<project-id>.supabase.co
SUPABASE_SECRET_KEY=sb_secret_...